body {
  font-family: 'Raleway', sans-serif; }

nav {
  border-radius: 8px;
  border: 1px solid #dadfea; }

.listContainer {
  background-color: tan; }

.deleteCompleted{
  background-color: antiquewhite;
  border-radius: 4px;
}
