body{
  font-family: 'Raleway', sans-serif;
}
nav{
  border-radius: 8px;
  border: 1px solid #dadfea;
  .deleteCompleted{
    background-color: aliceblue;
  }
}
.listContainer{
  background-color: tan;

}