body{
  font-family: 'Raleway', sans-serif;
}
nav{
  background-color: #2F7278;
  .deleteCompleted{
    background-color: #FAE2D5;
    border-radius: 16px;
  }
}
.container {

  #listDiv{
    background-color: #6BB8B4;
    border-radius: 4px;
  }
}
.listContainer{
  background-color: #D4ABA4;
  border-radius: 4px;
  .listMain{
    margin-top: 14px;
    #listCheckbox{
      padding: 2px;
      margin-right: 3px;
    }
    i{
      margin-left: 4px;
    }
  }
}
