body{
  font-family: 'Raleway', sans-serif;
  color: #18323D;
  background-color: #FAE2D5;
}

.navigation{
  background: #2F7278;
  width: 85%;
  border-radius: 8px;
  .deleteCompleted{
    background-color: #D4ABA4;
    border: 1px solid #18323D;
    border-radius: 16px;
  }
}
.container{
  .main{
    .listDiv{
      margin-top: 4px;
      background-color: #6BB8B4;
      border-radius: 4px;
      height: 40px;
      .listInput{
        height: 25px;
        margin: auto 5px;
      }
      .listButton{
        height: 25px;
        margin: auto 5px;
      }
    }
  }
}



.listContainer {
  background-color: #D4ABA4;
  border-radius: 4px;
  .listMain {
    margin-top: 14px;
    font-weight: bold;
    font-size: 18px;
    #listCheckbox {
      padding: 2px;
      margin-right: 3px;
    }
    .fas{

    }
  }
  #taskMain{
    .taskInput{
      .itemInput{
        height: 25px;
        margin: 5px 0 5px 0;
      }
      .taskButton{
        height: 25px;
        margin: auto 5px;
      }
    }
  }
}
